.name {
    color: darkgreen;
    display: inline;
}


.letter {
    color: #333;
    padding: 10px;
    margin: 10px;
    background-color: #ffde00;
    display: inline-block;
    font-family: monospace;
    font-size: 32px;
    text-align: center;
}

.vowels {
    margin: 0 auto;
    display: table;
}

.card {
    height: 200px;
    width: 150px;
    margin: 10px;
    background-color: #FFF;
    -webkit-filter: drop-shadow(0 0 5px #666666);
    filter: drop-shadow(0 0 5px #666666);
    border: 1px solid green;
    display: inline-block;
}

.square {
    height: 150px;
    background-color: #FFFFFF;
}

.label {
    font-family: sans-serif;
    font-weight: bold;
    padding: 13px;
    margin: 0;
    text-align: center;
}

.cards {

}

.lightningCounterDisplay {
    width: 250px;
    text-align: center;
    background-color: black;
    padding: 40px;
    font-family: sans-serif;
    color: #999;
    border-radius: 10px;
}

.circle {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    border-radius: 50%;

}
.counter.textStyle {
    font-size: 72px;
    font-family: sans-serif;
    color: #333;
    font-weight: bold;
}

.counterParent.backgroundStyle {
    width: 250px;
    height: 100px;
    padding: 50px;
    background-color: #FFC53A;
    border-radius: 10px;
    text-align: center;
}

.contentParent.buttonStyle {
    font-size: 1em;
    width: 30px;
    height: 30px;
    font-family: sans-serif;
    color: #333;
    font-weight: bold;
    line-height: 3px;
}