.horizontal-menu {
    display: inline-block;
    list-style: none;
}

.menu-item {
    display: inline;
}


#header {
    background-color: lightblue;
}

#header .horizontal-menu {
    padding: 0 0 0 20px;
}

#header .menu-item {
    font-size: 26pt;
    margin: 0 30px 0 30px;
}




#markets {
    background-color: lightpink;
}

#markets .horizontal-menu {
    padding-left: 4px;
}

#markets .menu-item {
    margin: 0 10px 0 10px;
    font-size: 18px;
}

#market-data {


}


#charts {
    background-color: lightgray;
    height: 600px;
}